<html (mousemove)="onMove()">
 <head>
     <meta charset="UTF-8"/>
     <title>Relatório</title>
 </head>
<body>
    <table  border=1 cellspacing=0 cellpadding=2>
        <tr *ngIf="pesquisadores.length > 0">
            <th>Nome</th>
            <th>A1</th>
            <th>A2</th>
            <th>B1</th>
            <th>B2</th>
            <th>B3</th>
            <th>B4</th>
            <th>B5</th>
            <th>C</th>
        </tr>
        <tr *ngFor="let a of pesquisadores" name="pesquisadoreslist">
            <td>{{a.nome}}</td>    
            <td>{{a.a1}}</td>
            <td>{{a.a2}}</td>
            <td>{{a.b1}}</td>
            <td>{{a.b2}}</td>
            <td>{{a.b3}}</td>
            <td>{{a.b4}}</td>
            <td>{{a.b5}}</td>
            <td>{{a.c}}</td>
        </tr>
</body>
</html>
