<html >
 <head>
     <meta charset="UTF-8"/>
     <title *ngIf="avaliacoes.length > 0">Relatório</title>
     <title *ngIf="avaliacoes.length == 0">Empty</title>
 </head>
<body>
    <table  border=1 cellspacing=0 cellpadding=20>
        <tr *ngIf="avaliacoes.length > 0">
            <th>Nome</th>
            <th>A1</th>
            <th>A2</th>
            <th>B1</th>
            <th>B2</th>
            <th>B3</th>
            <th>B4</th>
            <th>B5</th>
            <th>C</th>
        </tr>
        <tr *ngFor="let a of avaliacoes" name="pesquisadoreslist">
            <td>{{a.nome}}</td>
            <td>{{a.qualis[0]}}</td>
            <td>{{a.qualis[1]}}</td>
            <td>{{a.qualis[2]}}</td>
            <td>{{a.qualis[3]}}</td>
            <td>{{a.qualis[4]}}</td>
            <td>{{a.qualis[5]}}</td>
            <td>{{a.qualis[6]}}</td>
            <td>{{a.qualis[7]}}</td>
        </tr>
    </table>
</body>
</html>
