<html >
 <head>
     <meta charset="UTF-8"/>
     <title *ngIf="relatorio.length > 0">Relatório</title>
     <title *ngIf="relatorio.length == 0">Empty</title>
 </head>
<body>
    <table  border=1 cellspacing=0 cellpadding=20>
        <tr *ngIf="relatorio.length > 0">
            <th>Nome</th>
            <th>A1</th>
            <th>A2</th>
            <th>B1</th>
            <th>B2</th>
            <th>B3</th>
            <th>B4</th>
            <th>B5</th>
            <th>C</th>
        </tr>
        <!--<tr *ngFor="let a of relatorio" name="pesquisadoreslist">
                <td>{{a[0]}}</td>
                <td>{{a[1]}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>{{a[4]}}</td>
                <td>{{a[5]}}</td>
                <td>{{a[6]}}</td>
                <td>{{a[7]}}</td>
                <td>{{a[8]}}</td>
            </tr>-->
        <tr *ngFor="let a of relatorio" name="pesquisadoreslist">
            <td>{{a.nome}}</td>
            <td>{{a.publicacoes[0]}}</td>
            <td>{{a.publicacoes[1]}}</td>
            <td>{{a.publicacoes[2]}}</td>
            <td>{{a.publicacoes[3]}}</td>
            <td>{{a.publicacoes[4]}}</td>
            <td>{{a.publicacoes[5]}}</td>
            <td>{{a.publicacoes[6]}}</td>
            <td>{{a.publicacoes[7]}}</td>
        </tr>
    </table>
</body>
</html>
